
.hostel_info_div {
    width: 90%;
    margin: 80px auto;
}

.hostel_img {
    width: 300px;
    height: 180px;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    margin-right: 20px;
}

.hostel_img img {
    width: 300px;
    height: 180px;
}

.info_right {
    font-size: 16px;
    color: #2b2b2b;
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    margin-right: 15px;
}

.mod_btn {
    font-size: 16px;
    color: #f17350;
    cursor: pointer;
    transition: 0.3s;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 30px;
    position: relative;
    bottom: 2px;
}

.mod_btn:hover {
    color: rgba(241, 115, 80, 0.7);
}

.inner_each_part {
    width: 300px;
    font-size: 14px;
    font-weight: 300;
    display: inline-block;
    vertical-align: top;
    margin-right: 80px;
    margin-top: 20px;
}

.inner_each_part span {
    font-weight: 400;
    font-size: 17px;
}

.notice_div {
    color: #8b572a;
    font-size: 14px;
    margin-top: 20px;
}

.notice_div img {
    height: 25px;
    margin-right: 5px;
}

.checkIn_part {
    width: 100%;
    background-color: #fdf9f5;
    margin-top: -65px;
    padding-bottom: 70px;
}

.checkIn_part .mod_field {
    background-color: #fff;
}

.checkIn_part .each_info {
    padding-bottom: 30px;
}

.checkIn_part .sub_div {
    width: 930px;
}

@media screen and (max-width: 1130px) {
    .checkIn_part .sub_div {
        width: auto;
    }
}

.each_info div {
    margin-bottom: 20px;
}

.each_check input {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
}

.check_btn {
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    background-color: #f17350;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

.check_btn:hover {
    background-color: rgba(241, 115, 80, 0.7);
}

.inline_style {
    display: inline-block;
    vertical-align: top;
}

.check_ones {
    margin-top: -15px;
    color: #2b2b2b;
    line-height: 30px;
}

#member_input {
    margin-top: -25px;
    display: none;
}
