/**
 * Created by L.H.S on 2017/2/2.
 */

.above_part {
    width: 100%;
    border-bottom: 1px solid #979797;
    padding-bottom: 5px;
}

.portrait_div {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #d8d8d8;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.lvl_img_div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
    right: 0;
    bottom: 0;
}

.info_div {
    font-size: 13px;
    color: #747070;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.sub_title {
    width: 90px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-right: 2px solid #edecec;
    font-size: 20px;
    color: #2b2b2b;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}

.inner_div {
    width: 82px;
    height: 36px;
    margin: auto auto;
}

.sub_native,
.inner_div:hover {
    border-bottom: 2px solid #2b2b2b;
}

.below_part {
    width: 100%;
    min-height: 350px;
    margin-top: 0;
    background-color: #fcfbfa;
    padding-top: 25px;
    padding-bottom: 50px;
}

.sub_div {
    width: 1130px;
    margin: 0 auto;
}

@media screen and (max-width: 1130px) {
    .sub_div {
        width: 95%;
    }
}

.sub_btn {
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #948e8c;
    border: 2px solid #948e8c;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 15px;
}

.sub_btn_native,
.sub_btn:hover {
    color: #f17350;
    border-color: #f17350;
}

.each_record {
    width: 100%;
    padding-top: 5px;
    padding-left: 7px;
    padding-bottom: 10px;
    background-color: #fff;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 15px auto;
    position: relative;
}

.tip_con {
    font-size: 14px;
    color: #5c5c5c;
    font-weight: 300;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 20px;
}

.content {
    font-size: 14px;
    color: #2b2b2b;
    font-weight: 500;
    display: inline-block;
    vertical-align: bottom;
}

.record_btn {
    width: 40px;
    height: 25px;
    line-height: 25px;
    color: #f17350;
    position: absolute;
    right: 0;
    top: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.record_btn:hover {
    color: rgba(241, 115, 80, 0.6);
}

.bill_div {
    width: 260px;
    height: 350px;
    background-color: #fff;
    box-shadow: 0 2px 4px #000;
    display: inline-block;
    vertical-align: top;
    margin-right: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
    transform: rotate(1deg);
    overflow: auto;
}

@media screen and (max-width: 680px) {
    .bill_small_screen {
        width: 320px;
        margin: 20px auto;
    }

    .bill_div {
        margin-right: 0;
    }
}

.items_div {
    width: 100%;
    height: 300px;
    overflow: auto;
}

.month_div {
    color: #2b2b2b;
    width: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    margin-top: 5px;
    font-weight: 300;
}

.month_div span {
    font-weight: 500;
    font-size: 24px;
}

.each_item {
    width: 240px;
    height: 40px;
    margin-left: 10px;
    margin-top: 0;
    line-height: 50px;
    font-size: 13px;
    font-weight: 300;
    color: #929090;
    border-bottom: 1px solid #929090;
    position: relative;
}

.each_item div {
    position: absolute;
    top: 0;
}

.photo_change {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #d8d8d8;
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}

.camera_btn {
    width: 80px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
    transition: 0.3s;
}

.camera_btn:hover {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 0.7);
}

.name_div {
    color: #747070;
    font-size: 12px;
    font-weight: 300;
    margin-left: 20px;
    display: inline-block;
    vertical-align: top;
    padding-top: 8px;
}

.mod_field {
    border: none;
    outline: none;
    background-color: transparent;
    width: 200px;
    overflow: visible;
    height: 40px;
    font-size: 20px;
    color: #2b2b2b;
    padding-left: 5px;
    box-sizing: border-box;
}

.mod_state {
    background-color: #fff;
    transition: 0.3s;
}

.mod_state:hover,
.mod_state:focus {
    -webkit-box-shadow: 0 0 7px #eaab6e;
    -moz-box-shadow: 0 0 7px #eaab6e;
    box-shadow: 0 0 7px #eaab6e;
}

input[type="radio"] {
    width: 5px;
    margin-left: 2px;
    margin-right: 5px;
    position: relative;
    top: 3px;
}

.name_div label {
    position: relative;
    top: 3px;
}

.mod_btn {
    width: 40px;
    height: 25px;
    line-height: 25px;
    color: #f17350;
    display: inline-block;
    vertical-align: top;
    margin-left: 25px;
    margin-top: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.mod_btn:hover {
    color: rgba(241, 115, 80, 0.6);
}

.mod_con {
    display: inline-block;
    vertical-align: top;
}

.each_info {
    width: 280px;
    height: 140px;
    border-right: 1px solid #979797;
    display: inline-block;
    vertical-align: top;
    margin-top: 40px;
    font-size: 15px;
    line-height: 40px;
    color: #979797;
    font-weight: 300;
    padding-left: 10px;
}

.span_em {
    color: #2b2b2b;
    font-size: 18px;
    font-weight: 400;
}

.exchange_card {
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s;
    display: inline;
}

.exchange_card:hover {
    color: #2b2b2b;
}

.note_div {
    margin-top: -7px;
    font-size: 10px;
    line-height: 15px;
}

.note_div span {
    color: #2b2b2b;
    font-size: 12px;
}

@media screen and (max-width: 580px) {
    .head_info,
    .each_info {
        margin-left: 15%;
    }
}

.credit_con {
    display: none;
}

.credit_con .exchange_card {
    font-size: 20px;
    margin-right: 10px;
}

.recharge {
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    color: #f17350;
    text-shadow: 0 0 6px #ffeb00;
    cursor: pointer;
    margin-left: 10px;
}

.charge_div {
    width: 300px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -120px 0 0 -150px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    background-color: #fdf9f5;
    z-index: 1000;
    display: none;
}

.step_btn {
    width: 70px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    font-size: 17px;
    transition: 0.3s;
    cursor: pointer;
    background-color: #d4692a;
    display: inline-block;
    vertical-align: top;
}

.step_btn:hover {
    opacity: 0.7;
}